@font-face {
    font-family: 'Metropolis';
    src: url(font-metropolis.otf);
}
@font-face {
    font-family: 'Lato';
    src: url(font-lato.woff2);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body > div {
    font-family: Lato, serif;
    font-size: 1.3em;
    padding: 2em;
}

body > div:nth-child(odd) {
    background-color: #555B6E;
    color: #f9f4f5;
}

body > div:nth-child(even) {
    background-color: #f9f4f5;
    color: #555B6E;
}

header {
    background-color: #90708C;
    height: 138px;
}

.brand-name {
    font-family: Metropolis, sans-serif;
    font-size: 4em;
    color: #f9f4f5;
    float: left;
    position: relative;
    top: 39px;
}

.offset-header {
    position: absolute;
    width: 100%;
    top: 28px;
}

header img, header a, header span {
    display: inline-block;
}

header img {
    float: left;
    margin: 0 25px;

    padding: 1px;
    background-color: #f9f4f5;
    border: 1px solid #555B6E;
}

header a {
    width: 96px;
    height: 96px;
    background-color: #f00;

    float: right;
    margin-right: 5%;

    position: relative;
    top: 24px;
}

header a:nth-child(2) {
    margin-right: 15%;
}

.overview {
    padding-top: 55px;
}