@font-face {
    font-family: 'Metropolis';
    src: url(font-metropolis.otf);
}
@font-face {
    font-family: 'Lato';
    src: url(font-lato.woff2);
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body > div {
    font-family: Lato, serif;
    font-size: 1.3em;
    padding: 40px;
}

body > div:nth-child(odd) {
    background-color: #555B6E;
    color: #f9f4f5;
}

body > div:nth-child(even) {
    background-color: #f9f4f5;
    color: #555B6E;
}

header {
    background-color: #90708C;
    height: 138px;
}

a, a:hover, a:active, a:visited {
    color: inherit;
}

.brand-name {
    font-family: Metropolis, sans-serif;
    font-size: 4em;
    color: #f9f4f5;
    float: left;
    position: relative;
    top: 39px;
}

.offset-header {
    position: absolute;
    width: 100%;
    top: 21px;
}

header img, header a, header span {
    display: inline-block;
}

.brand-icon{
    float: left;
    margin: 0 25px;

    padding: 1px;
    background-color: #f9f4f5;
    border: 1px solid #555B6E;
}

header a {
    float: right;
    margin-right: 5%;
    cursor: not-allowed;
    opacity: 0.5;
}

header a img {
    width: 96px;
    filter: drop-shadow(0 0 1px white);
}

header a:nth-child(2) {
    margin-right: 15%;
}

h3 {
    margin: 1em;
}

.overview {
    padding-top: 55px;
}

.overview ul {
    list-style: none;
    display: flex;
}

@media (min-width: 1366px) {
    .overview ul {
        flex-direction: row;
        justify-content: space-around;
    }

    .overview li {
        flex-basis: 408px;
        padding-top: 10px;
        border-top: 3px solid #90708C;
        transition: border-color 0.3s ease;
    }

    .overview ul .index {
        top: 13px;
    }
}

@media (max-width: 1355px) {
    .overview ul {
        flex-direction: column;
    }

    .overview li {
        margin-bottom: 40px;
        flex-basis: auto;
        padding-right: 20px;
        border-right: 3px solid #90708C;
    }

    .overview ul .index {
        top: 3px;
    }
}

.overview li {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0.9em;
    position: relative;
    transition: border-color 0.3s ease;
}


.overview li:hover {
    border-color: #555B6E;
}

.overview ul div {
    padding: 3px;
}

.overview ul .index {
    position: absolute;
    color: #90708C;
    left: -0.9em;
}

.overview img {
    margin-top: 15px;
}

.recipient-example {
    display: block;
}

.benefit-section {
    margin-bottom: 40px;
}

.benefit-section h3 {
    display: inline-block;
    padding-bottom: 1em;
    border-bottom: 3px solid #555B6E;
    transition: border-color 0.3s ease;
}

.benefit-section:hover h3 {
    border-color: #90708C;
}

.faq ul {
    list-style: none;
}

.faq li {
    text-indent: -1.2em;
    margin-left: 1.2em;
}

.faq li:nth-child(even) {
    margin-bottom: 1em;
}

.bottom-browsers {
    display: flex;
    justify-content: center;
}

.bottom-browsers a {
    margin: 0 3%;
    cursor: not-allowed;
    opacity: 0.5;
}

.footer {
    padding: 5px;
    font-size: 1em;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.fuzzle {
    float: right;
}

.clear {
    clear: both;
}
